<!DOCTYPE html>
<html class="x-admin-sm"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>添加备注</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <input type="hidden"  id = "id" th:value="${id}"/>
                <label for="user" class="layui-form-label">
                    <span class="x-red">*</span>编辑人
                </label>
                <div class="layui-input-inline">
                    <input type="text" required=""
                           autocomplete="off" class="layui-input" id = "user"  th:value="${user}">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="beizhu" class="layui-form-label">
                    <span class="x-red">*</span>备注信息
                </label>
                <div class="layui-input-inline">
                    <textarea type="text" id="beizhu" name="beizhu" th:text="${beizhu}" style=" width:200px; height: 200px"
                           autocomplete="off" class="layui-input">
                    </textarea>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red"></span>
                </div>
            </div>





            <div class="layui-form-item">
                <label class="layui-form-label">
                </label>
                <button  class="layui-btn" lay-filter="edit" lay-submit="">
                    备注
                </button>
            </div>
        </form>
    </div>
</div>
<script>layui.use(['form', 'layer'],
    function() {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

        //监听提交
        form.on('submit(edit)',
            function(data) {

                $.get('/warningbeizhu/edit', {
                    id:$('#id').val(),
                    user:$('#user').val(),
                    beizhu:$('#beizhu').val(),
                },function (resp) {
                    //console.log(resp);

                    if (resp.status == 200) {
                        layer.alert("备注成功",{
                            icon: 6
                        },function () {
                            //关闭当前frame
                            xadmin.close();

                            // 可以对父窗口进行刷新
                           // xadmin.father_reload();
                           // parent.layer.close(index);
                            parent.resh();
                        });



                    } else {
                        layer.alert("备注失败! "+resp.msg,{
                            icon: 2
                        });
                    }
                });


                return false;


            });







    });</script>
<script>var _hmt = _hmt || []; (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();</script>
</body>

</html>
